body { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  
  
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1000% 1000%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#pffixeddisable {
  background: rgb(78, 78, 78);
  color: white;
  padding: 3em;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #ffffff;
  text-align: center;
  width: 55%;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}


.center {
  background-color: #333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.button {
  display : flex;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}
.button1 {
  background-color: rgb(250, 250, 250); 
  color: black; 
  border: 2px solid #020202;
  border-radius: 100px;
}

.button1:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.button2 {
  background-color: rgb(250, 250, 250); 
  color: black; 
  border: 2px solid #085a7a;
  border-radius: 100px;
}

.button2:hover {
  background-color: #085a7a;
  color: rgb(255, 255, 255);
}

.button3 {
  background-color: rgb(250, 250, 250); 
  color: black; 
  border: 2px solid #4d636b;
  border-radius: 100px;
}

.button3:hover {
  background-color: #4d636b;
  color: rgb(255, 255, 255);
}

.button4 {
  background-color: rgb(250, 250, 250); 
  color: black; 
  border: 2px solid #e687c6;
  border-radius: 100px;
}

.button4:hover {
  background-color: #e687c6;
  color: rgb(255, 255, 255);
}




.image-area{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 1em;
  
}


#corner-text {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 18px;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 600px;
  margin: 20px auto;
}




.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 1em;
  }
  
.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1em;
  }
  
.profile h1 {
    font-size: 1.7em;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
  
.profile p {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 0.5em;
  }
  
button#open-player {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
button#open-player img {
    height: 5px;
    vertical-align: middle;
  }
  
#player-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
  }


  
.hidden {
    display: none;
  }
a#link-button {
    background-color: #FF99CC;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-block;
  }
  
  
a#link-button:hover {
    background-color: #444;
  }
  
  
  
#bottom-left-text {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-family: 'Futura', sans-serif;
    font-size: 13px;
    color: rgb(129, 129, 129);
  }
  
#bottom-countdown{
  position: fixed;
  bottom: 16px;
  left: -31px;
  font-family: 'Futura', sans-serif;
  font-size: 13px;
  color: pink;
}

  

#container {
    width: 100%;
    height: 100%;
    background-color: pink;
  }
  
  
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.controls {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    width: 75px;
  }
.controls button {
    padding: 10px 20px;
    background-color: #6d9cda;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #windowBar {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 40px;
}

#windowBar .titlebar {
    width: 80%;
    width: calc(100% - 40px);
    height: 40px;
    text-align: center;
    float: left;
    background: #ececec;
}

#windowBar .closebutton {
    width: 20%;
    width: calc(40px);
    height: 40px;
    float: left;
    background: #ddd;
}
